.video-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 30px;
}

@media (min-width: 550px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 870px) and (max-width: 1209px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .yt-video-title {
    font-size: 19px;
    line-height: 24px;
  }

  .yt-video-author,
  .yt-video-stats {
    font-size: 15px;
  }
}

@media (min-width: 1210px) and (max-width: 1479px) {
  .video-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1480px) {
  .video-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}


.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.thumbnail-container {
  position: relative;
}

.thumbnails {
  width: 100%;
  display: block;
}

.video-time {
  position: absolute;
  bottom: 8px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 3.8px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
}

.channel-info-container {
  margin-top: 12px;
  position: relative;
}

.channel-text-ut {
  margin-left: 8px;
  font-size: 13px;
}

.channel-pic-ut {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 15px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.channel-info-container:hover .channel-pic-ut {
  opacity: 1;
}

.channel-pic-ut img {
  width: 50px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.ut-yt-name {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.ut-subscriber-count {
  color: rgb(96, 96, 96);
}

.yt-author-logo {
  width: 37px;
  border-radius: 50%;
}

.video-info {
  margin-top: 12px;
}

.video-info a {
  text-decoration: none;
}

.yt-video-title {
  color: rgb(15, 15, 15);
  font-weight: 500;
  font-size: 16px;
}

.yt-video-author,
.yt-video-stats {
  color: rgb(96, 96, 96);
  font-size: 14px;
}

.yt-video-author {
  margin-top: 6px;
}

.yt-video-stats {
  margin-top: 4px;
}